body {
    font-family: Arial, sans-serif;
    background-color: #da70bf;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.profile {
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #f8f8f8;
}

h1 {
    margin: 10px 0;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.link-item {
    text-decoration: none;
    color: #030000;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px; /* Ensure equal width for all links */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
    gap: 10px; /* Space between icon and text */
    transition: background-color 0.3s;
}

.link-item i {
    font-size: 20px;
}

.link-item:hover {
    background-color: #d6d170;
}
